<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application loggers at INFO level -->
    <logger name="com.nextgen" level="INFO" />

    <!-- Suppress noisy gRPC/Netty internals -->
    <logger name="io.grpc" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
